body
{font-size: 1em;
background-color: #ddc9b3;
font-family: 'Bree Serif', serif;}

nav
{margin-bottom: 4em;
font-family: 'Lacquer', sans-serif;}

h1
{font-size: 3em;
text-align: center;
color: #47392B;
font-family: 'Lacquer', sans-serif;}

#canDo
{font-size: 6em;
font-family: 'Lacquer', sans-serif;
margin-bottom: 1em;}

#forborder
{border-bottom: 3px dashed #ff0000;}

button
{width: 10em;
font-family: 'Lacquer', sans-serif;}



/* Coolors Exported Palette - coolors.co/7a6c5d-443729-ddc9b3-bcac9a-c19c74 */

/* HSL
$color1: hsla(31%, 13%, 42%, 1);
$color2: hsla(31%, 25%, 21%, 1);
$color3: hsla(31%, 38%, 78%, 1);
$color4: hsla(32%, 20%, 67%, 1);
$color5: hsla(31%, 38%, 61%, 1);
*/

/* RGB
$color1: rgba(122, 108, 93, 1);
$color2: rgba(68, 55, 41, 1);
$color3: rgba(221, 201, 179, 1);
$color4: rgba(188, 172, 154, 1);
$color5: rgba(193, 156, 116, 1);
*/
